/*.bin
/*.gz
/*.m4
/*.pc
/INSTALL
/Makefile
/Makefile.in
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/*.mode
/.d
/.deps
/*.prob
/dev/__pycache__
*.code-workspace
/spa*t1x
/dev/testvoc/.*
/dev/testvoc/testvoc-errors.*.txt
/dev/testvoc/testvoc-missing.*.txt
